:root {
  --main-font: 'Plus Jakarta Sans', sans-serif;
  --second-font: 'Circular std', sans-serif;

  --main-color: #000929;
  --second-color: #100a55;
  --violet-light-color: #7065f0;
  --violet-light-hover-color: #5349c7;
}